<h2>Quiz 1 : Hello World to Python</h2>
    
Print Say Hello World to Python

In [23]:
print('Hello World Python')

Hello World Python

Expected Output : 

Hello World Python

<h2>Quiz 2 : Aritmatika di Python </h2>
    
- Buat statement pertambahan antara 2 number di Python
- Buat statement perkurangan antara 2 number di Python
- Buat statement perkalian antara 2 number di Python
- Buat statement pembagian antara 2 number di Python

In [24]:
inputa = int(input('Input nilai A\t: '))
inputb = int(input('Input nilai B\t: '))
inputc = int(input('Input nilai C\t: '))
inputd = int(input('Input nilai D\t: '))

print(f'{inputa} + {inputb} adalah {inputa+inputb}')
print(f'{inputc} + {inputd} adalah {inputc+inputd}\n')

print(f'{inputa} - {inputb} adalah {inputa-inputb}')
print(f'{inputc} - {inputd} adalah {inputc-inputd}\n')

print(f'{inputa} * {inputb} adalah {inputa*inputb}')
print(f'{inputc} * {inputd} adalah {inputc*inputd}\n')

print(f'{inputa} / {inputb} adalah {inputa/inputb}')
print(f'{inputc} / {inputd} adalah {inputc/inputd}\n')

10 + 20 adalah 30
30 + 40 adalah 70

10 - 20 adalah -10
30 - 40 adalah -10

10 * 20 adalah 200
30 * 40 adalah 1200

10 / 20 adalah 0.5
30 / 40 adalah 0.75

<h2>Quiz 3 : Assign Variable dan Tipe Data Integer, Float </h2>

- Buat suatu variabel a dan b, dimana a dan b adalah nilai bertipe data numeric
- Berikan suatu nilai bertipe data integer, hasil pembagian dari a dengan b
- Berikan suatu nilai bertipe data float, hasil pembagian dari a dengan b

In [25]:
a = int(input('Input nilai A\t: '))
b = int(input('Input nilai B\t: '))

c = int(a / b)
d = float(a / b)

print(f'nilai a adalah\t: {a}\t dengan tipe data {type(a)}')
print(f'nilai b adalah\t: {b}\t dengan tipe data {type(b)}')
print(f'nilai c adalah\t: {c}\t dengan tipe data {type(c)}')
print(f'nilai d adalah\t: {d}\t dengan tipe data {type(d)}')

nilai a adalah	: 10	 dengan tipe data <class 'int'>
nilai b adalah	: 20	 dengan tipe data <class 'int'>
nilai c adalah	: 0	 dengan tipe data <class 'int'>
nilai d adalah	: 0.5	 dengan tipe data <class 'float'>

<h2>Quiz 4 : String Operation </h2>

- masukan nama depan kamu kedalam suatu variable firstname
- masukan nama belakang kamu kedalam suatu variable lasname
- tampilkan suatu kalimat 'Hello sanbercode, saya firstname lastname! saya siap belajar python data science.'

In [26]:
firstname   = 'Sebastian Cahyo'
lastname     = 'Ardhi Iswara'
print(f'Hello sanbercode, saya {firstname} {lastname}! saya siap belajar python data science.')

Hello sanbercode, saya Sebastian Cahyo Ardhi Iswara! saya siap belajar python data science.

Expected Output :

Hello sanbercode, saya fauzan taufik! saya siap belajar python data science.

<h2>Quiz 5 : Tipe Data</h2>

Lengkapi code di bawah ini untuk menghasilkan output yang sesuai

In [27]:
p = 9.99999
q = 'the number : '
print(q + str(p))

the number : 9.99999

Expected Output :

the number : 9.99999